@font-face {
        font-family: 'TT Lakes';
        src: url('Fonts/TTLakes/TTLakes-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'TT Lakes';
        src: url('Fonts/TTLakes/TTLakes-DemiBold.ttf');
        font-weight: bold;
        font-style: normal;
}

body {
	font-family: 'TT Lakes';
	background: #f8f8f8;
	min-width: 320px;
}

.centralContainer {
	max-width: 1120px;
	margin: 0 auto;
}

/*----Стили Хедера и верхнего навигационного меню----------------------------------------------------*/

.menuNavigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	min-width: 320px;
	height: 85px;
}

.menuNavigation__left {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 170px;
}

.menuNavigation__right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 280px;
}

.verticalLine {
	width: 2px;
	height: 30px;
	background: #eaeaea; 
}

button 
{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media all and (max-width: 767px) {
	.menuNavigation__right div:nth-child(1), 
	.menuNavigation__right div:nth-child(2),
	.menuNavigation__right div:nth-child(3),
	.menuNavigation__left  div:nth-child(2) {
		display: none;
		/*visibility: hidden;*/
	}	
	.menuNavigation__right {
	min-width: 150px;
	}
}

@media all and (min-width: 1120px) {
	 .menuNavigation
	 {
		display: none;
		/*visibility: hidden;*/
	}	
}

/*----------------------------------------------------------------------------------------------------*/

/*--------Стили строки заголовка "Услуги и сервисы"---------------------------------------------------*/

.services {
	display: flex;
	justify-content: space-between;
}

.services h1 {
	margin-left: 20px;
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
}

.services__left {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 150px;
}


.services__right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 300px;
}

@media all and (max-width: 1120px) {
	 .services__right
	 {
		display: none;
		/*visibility: hidden;*/
	}	
}


.inline {
	display: inline-block;
	vertical-align: middle;
}

.inline>span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.inline>img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
}

.inline>a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
}

.inline>button {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
}

/*--------------------------------------------------------------------------------------------------------*/

/*----Стили горизонального меню со скроллингом-----------------------------------------------------------*/


.menuScroll {
	min-width: 320px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	overflow-x: scroll; 
	overflow-y: hidden; 
	scrollbar-width: none;
}

.menuScroll::-webkit-scrollbar {
  width: 0;
}

.menuScroll div {
	height: 31px;
	flex-shrink: 0;
	margin: 11px 5px 11px; 
	padding: 10px 10px 0;
}

.menuScroll div:nth-child(1) {
	border: 2px solid #41f6d7;
	border-radius: 4px;
	background: white; 
}

.menuScroll div:hover {
	border: 2px solid #41f6d7;
	border-radius: 4px;
}

.menuScroll a {
	text-decoration: none;
	color: black;
	display: inline-block;
	vertical-align: middle;
}	

/*----Оформляем основной раздел Main---------------------------------------------------------------------*/

.main {
	display: flex;
}

@media all and (max-width: 767px) {
	.main {
		display: flex;
		flex-direction: column;
	}	
}


.expand {
	padding: 20px;
}

.expand>img {
	display: inline-block;
	vertical-align: middle;
}

.expand>span {
	display: inline-block;
	vertical-align: middle;
}

.article {
	height: 145px;
	padding-top: 0px;
	overflow: hidden;
}

.imageContainer img {
	height: 200px;
}
