@font-face {
        font-family: 'TT Lakes';
        src: url('Assets/Fonts/TTLakes/TTLakes-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'TT Lakes';
        src: url('Assets/Fonts/TTLakes/TTLakes-DemiBold.ttf');
        font-weight: bold;
        font-style: normal;
}

body {
	font-family: 'TT Lakes';
	background: #f8f8f8;
	min-width: 320px;
}

.mainPage {
	max-width: 1120px;
	margin: 0 auto;
}

/*----Стили Хедера и верхнего навигационного меню Nav----------------------------------------------------*/

.Nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	min-width: 320px;
	min-height: 85px;
}

.Nav__Burger {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 160px;
	margin-left: 5px;
}

.Nav__Burger img:nth-child(2) {
	margin-bottom: 5px;
}

@media all and (min-width: 768px) {
	.Nav__Burger button:nth-child(1)::after
	 {
		display: inline-block;
		align-self: center;
	    content: "";
	    width: 2px;
		height: 30px;
		background: #eaeaea;
		margin: 0 10px 5px 10px;
	}
}

.Nav ul {
	list-style: none;
}

.Nav__Options li:nth-child(4)::before {
		display: inline-block;
		align-self: center;
	    content: "";
	    width: 2px;
		height: 30px;
		background: #eaeaea;
		margin: 0 20px 5px 10px;
}


.Nav__Options {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 280px;
	margin-right: 15px;
}


button 
{
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media all and (max-width: 767px) {
	.Nav__Options li:nth-child(1), 
	.Nav__Options li:nth-child(2),
	.Nav__Options li:nth-child(3) {
		display: none;
		/*visibility: hidden;*/
	}	
	.Nav__Options {
	min-width: 145px;
	padding-left: 0;
	}
}

@media all and (min-width: 1120px) {
	 .Nav
	 {
		display: none;
		/*visibility: hidden;*/
	}	
}

/*----------------------------------------------------------------------------------------------------*/

/*--------Стили строки заголовка "Услуги и сервисы"---------------------------------------------------*/

.Services {
	display: flex;
	justify-content: space-between;
	height: 55px;
}

.Services__Headline h1 {
	font-size: 25px;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 5px;
}

.Services__Headline h1::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	background-image: url("Assets/Images/highlight.png"); 
	background-repeat: no-repeat;
	margin-right: 15px;
	width: 4px;
	height: 45px;
}

.Services__Options {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 300px;
}

@media all and (max-width: 1119px) {
	 .Services__Options
	 {
		display: none;
		/*visibility: hidden;*/
	}	
}

.inline {
	display: inline-block;
	vertical-align: middle;
}

.inline>span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.inline>img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
}

.inline>button {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
}

/*--------------------------------------------------------------------------------------------------------*/

/*----Стили горизонального меню со скроллингом-----------------------------------------------------------*/

.menuScroll ul {
	list-style: none;
	min-width: 320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	overflow-x: scroll; 
	overflow-y: hidden; 
	scrollbar-width: none;
	height: 50px;
	padding-left: 10px;
}

.menuScroll::-webkit-scrollbar {
  width: 0;
}

.menuScroll ul li {
	height: 31px;
	flex-shrink: 0;
	margin: 11px 5px 11px; 
	padding: 10px 10px 0;
}

.menuScroll ul li:nth-child(1) {
	border: 2px solid #41f6d7;
	border-radius: 4px;
	background: white; 
}

.menuScroll ul li:hover {
	border: 2px solid #41f6d7;
	border-radius: 4px;
}

.menuScroll a {
	text-decoration: none;
	color: black;
	display: inline-block;
	vertical-align: middle;
}	

/*----Оформляем основной раздел Main---------------------------------------------------------------------*/

.main {
	display: flex;
}

@media all and (max-width: 767px) {
	.main {
		display: flex;
		flex-direction: column;
	}	
}

.main__textContainer {
	height: 145px;
	overflow: hidden;
}

.main__imageContainer img {
	height: 200px;
}

.expand {
	padding: 20px;
}

.expand>img {
	display: inline-block;
	vertical-align: middle;
}